<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="../adminhome">
              <img src="static/profile-icon-E90RC7.jpg" alt="Logo" style="width:40px;" class="rounded-pill">
            </a>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                  <a class="nav-link" href="../adminhome">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../addpro">Add Product</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../viewpro">View Product</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../viewuser">View Users</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../bookinghistry">Booking History</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../logout">Logout</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="text" placeholder="Search">
              <button class="btn btn-primary" type="button">Search</button>
            </form>
          </div>
        </div>
      </nav>
    <form action="" method="post">
        {% csrf_token %}
        <label for="">NAME</label>
    <input type="text"  name="name" value="{{data.name}}" placeholder="Enter your name"><br><br>
        <label for="">price</label>
    <input type="number" name="price" value="{{data.price}}" placeholder="Enter your price"><br><br>
        <label for="">offerprice</label>
    <input type="number" name="offerprice" value="{{data.offerprice}}" placeholder="Enter your offerprice"><br><br>
    <label for="">quantity</label>
    <input type="number" name="quantity" value="{{data.quantity}}" placeholder="Enter your quantity"><br><br>
        <label for=""></label>
    <input type="submit" value="submit" ><br>
    </form> 
    <div>
        <p>
            <a href="../delete/{{data.pk}}">Delete</p>
    </div>
</body>
</html>